
<h3>Thank you <%= @membership.member.member_first_name %> <%= @membership.member.member_last_name %>. Your card was charged <%= number_to_currency(@membership.membership_charge / 100) %>. You are now a <%= @membership.member.membership_type %> member of TBPS.</h3>