<h1>About Us</h1>
<h5>TBPS provides high quality continuing education seminars and study groups in psychoanalytic theory and clinical application.  It offers a supportive, inclusive, collegial community for mental health professionals in the Tampa Bay area. </h5>  
