<h1>Reading Groups</h1>

<h3>The Tampa Bay Institute for Psychoanalytic Studies  hosts two discussion groups; 1) Relational, 2) Self Psychology. Groups meet Fridays from mid September to early June.  All TBPS members are welcome.<br><br>

The Relational Study Group meets the first and third Fridays at 2:00 pm EST by conference call to discuss papers in relational and developmental intersubjectivity, object relations, attachment theory, infant research and neurobiology.<br><br>

The  Self Psychology group meets the second and fourth Fridays at 2:00pm by conference call to discuss papers in Self and Intersubjective Systems Theory.<br><br>

For more information contact _____________.
</h3>