/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

 @import "framework_and_overrides";

html {
  min-height: 100%;
  position: relative;
}

body {
  h1 h2 h3 h4 h5 {
    font-family: 'Lato', sans-serif;
  }
  p {
    font-family: 'Alegreya', serif;
  }
  a {
    color: #395a2a;
  }
  background: linear-gradient(#00db8f, #14faaa);
}

h1 {
  font-family: 'Lato', sans-serif;
}

//Navbar Styling

.list_item {
  text-align: left;
}

.list-group {
  float: right;
}

.navbar > .container-fluid {
  // display: inline-block;
  float: none;
  vertical-align: top; 
  color: #f9f1f1;
}

.nav_center {
  margin: 30px 0 0 300px;
  text-align: center;
  max-width: auto;
}

.nav_center_text {
  text-align: left;
}

.navbar-default{
  background: transparent;
  border: none;
}

.navbar h1 {
  font-family: 'Lato', sans-serif;
  font-size: 64pt;
}

.navbar a {
  color: #f9f1f1; 
}

.tbps_brand{
  display: inline-block;
  float: left;
}

//Root Page

.mission_statement {
  font-family: 'Oswald', sans-serif;
  float: left;
}

.join_tbps{
   a {
    color: #cd519b;
    text-align: right;
   }
  float: right;
  padding: 0 0 0 15px;
}

.landing_page_layout {
  background: linear-gradient(#fdf7f9, #f7e3ea);
  border: 2px solid;
  border-radius: 6px;
  margin: 25px 25px 25px 25px;
  max-height: 300px;
  min-height: 300px;
  padding: 20px;
}