/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

 @import "framework_and_overrides";

html {
  min-height: 100%;
  position: relative;
}

body {
  h1 h2 h3 h4 h5 {
    font-family: 'Lato', sans-serif;
  }
  p {
    font-family: 'Alegreya', serif;
  }
  a {
    color: #5E3C05;
    // color: #b8b8b8;
  }
  background: linear-gradient(#00B2FF, #00CDFF);
}

// (#00db8f, #14faaa)

h1 {
  font-family: 'Lato', sans-serif;
}

.col-centered { 
  float: none;
  margin: 0 auto;
}


//Navbar Styling

.join_tbps{
  display: inline-block;
  float: right;
  // margin: 3px 0 0 0;
  padding: none;
  width: 525px;
  a {
    color: #FF0000 !important;
    text-align: right;
  }
  h4 {
    margin: 40px 0 0 0;
  }
}

.list_item {
  margin: 3px 0 0 0;
  text-align: left;
}

.list-group {
  float: right;
}

.navbar > .container-fluid {
  vertical-align: top; 
  // color: #f9f1f1;
  text-align: center
}

.nav_center {
  display: inline-block;
  margin: 10px 0 0 0;
  text-align: center;
  width: 151px;
}

.nav_center_text {
  text-align: left;
  display: inline-block;
  float: none;
  table tr {
    border-bottom: solid 1px; 
    border-color: #f0f0ef;
  }
  h4{
    margin: 7px 0 2px 0;
  }
}

.navbar-collapse {
  text-align: center;
}

.navbar-default{
  background: transparent;
  border: none;
}

.navbar {
  a {
    color: #f0f0ef;
  }
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 64pt;
  }
}

.nav {
  a {
    color: #f0f0ef !important;
  }
}

.tbps_brand{
  display: inline-block;
  float: left;
  clear: none;
  padding: 0 15px 15px 15px;
  h1 {
    font-family: 'Corben', cursive;
    } 
  h5 {
    color: #f0f0ef;
  }
}

//Root Page

.container {
  margin: none;
}

.home_main {
  margin: 70px 0 0 0;
}

.landing_page_layout {
  background: linear-gradient(#f8f8f7, #c9c9c5);
  border: 2px solid;
  border-radius: 6px;
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
  padding: 20px;
}

.lp1 {
  margin: 0 8px 0 -8px;
}

.lp3 {
  margin: 0 -8px 0 8px;
}

.mission_statement {
  font-family: 'Oswald', sans-serif;
  float: left;
}

