//Global elements are listed first followed by Navbar elements then items are listed alphabeticaly. 
//An attempt was made to keep rules listed alphabeticaly.

@media (max-width: 480px) {
  .container {
    margin-top: 50px;
  }
  #bs-example-navbar-collapse-1 { 
    background-color: #74b2cd; 
 }
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background: #74b2cd;
  // font-family: 'Lato', sans-serif;
  font-family: 'Quattrocento Sans', sans-serif;
   h5 {
    // font-family: 'Alegreya', serif;
    font-family: 'Quattrocento', serif;
  }
  p {
    // font-family: 'Alegreya', serif;
    font-family: 'Quattrocento', serif;
  }
  a {
    // color: #d7d7d5;
    // color: #594596; purple1
    color: #4b358d;
  }
  
}

.col-centered { 
  float: none;
  margin: 0 auto;
}

.main_theme_layout {
  // background: linear-gradient(135deg, rgba(248, 248, 247, 0.5), rgba(248, 248, 247, 1), 
  //   rgba(248, 248, 247, 1), rgba(248, 248, 247, 1.0), rgba(0, 205, 255, 0.5), rgba(0, 205, 255, 0.5));
  background: transparent;
  border: 1px solid #f0f0ef;  
  border-radius: 12px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  // border-style: inset;
  color: #23231f;  
  overflow: auto;
  padding: 10px 15px 10px 15px;
  h3 {
    text-align: center;
    // text-shadow: 1px 2px 0 #c3c0c9;
    // #272334
    font-weight: bold;
  }
  h5 {
    font-size: 12pt;
  }
  th {
    text-align: center
  }
  thead {
    border-bottom: 1px solid #f0f0ef;
  }
  td {
    min-width: 80px;
    padding: 2px;
    text-align: center;
  }
  
  tr {
    border-bottom: 1px solid #f0f0ef;
  }
}

//Navbar 

.big_li{
  font-size: 15pt;
}

#bs-example-navbar-collapse-1 .open { 
  li {
    background-color: #00B2FF;  
  } 
 }

 .cart_count {
  color: #f0f0ef;
  font-size: 28px;
  margin: 0 20px 0 0;
 }

 .cart_count a:hover{
  text-decoration: underline;
}

.join_tbps{
  display: inline-block;
  float: right;
  padding: none;
  width: 650px;
  a {
    color: #dc18a8 !important;
    text-align: right;
    font-weight: bold;
  }
  h3 {
    font-family: 'Quattrocento', serif;
    margin: 40px 0 0 0;
  }
}

.list_item {
  margin: 3px 0 0 0;
  text-align: left;
}

.list-group {
  float: right;
}

.md_li{
  font-size: 13pt;
  margin: 3px 0 4px 0;
}

.nav {
  a {
    color: #f0f0ef !important;
  }
}

.nav_center {
  display: inline-block;
  margin: 10px 0 0 0;
  text-align: center;
  width: 500px;
}

.nav_center_text {
  display: inline-block;
  float: none;
  text-align: left;
  width: 600px;
  ul {
    width: 600px;
    li a:hover{
      background-color: transparent;
      text-decoration: underline;
    }
  }
 }

.navbar {
  a {
    color: #f0f0ef;
  }
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 64pt;
    text-shadow: 2px 4px 8px #003247;
  }
}

.navbar > .container-fluid {
  text-align: center;
  vertical-align: top; 
}

.navbar-collapse {
  text-align: center;
  a:hover {
    text-decoration: underline;
  }
}

.navbar-default{
  background: transparent;
  border: none;
}

.tbps_brand{
  clear: none;
  display: inline-block;
  float: left;
  padding: 0 15px 15px 15px;
  h5 {
    color: #f0f0ef;
    text-shadow: 2px 2px 8px #003247;
  }
}

//Visitors Index

.coming_soon {
  font-weight: bold;
  margin: 10px 0 3px 0;
}

.container {
  margin: none;
}

.current_speaker_dates {
  display: inline-block;
  margin: 2px 0 0 0;
  max-width: 170px;
}

.current_speaker_layout {
  display: inline-block;
  margin: 2px 0 0 0;
  max-width: 100px;
}

.home_main {
  margin: 70px 0 0 0;
}

.lp1 {
  margin: 0 8px 2px -8px;
  max-height: 400px;
  min-height: 400px;
}

.lp2 {
  margin: 0 0 2px 0;
  max-height: 400px;
  min-height: 400px;
}

.lp3 {
  margin: 0 -8px 2px 8px;
  max-height: 400px;
  min-height: 400px;
  h4 {
    text-align: center;
  }
}

.next {
  margin: 5px 0 0 0;
  text-align: center;
}

#our_next_speaker {
  font-size: 12pt;
}

.speaker_description {
  display: inline-block;
}

.speaker_full_title {
  text-align: center;
}

.speaker_title {
  display: inline-block;
  margin: 2px 0 10px 0;
}

.synopsis {
  margin: 10px 0 3px 0;

//Checkout(cart)
}
.zero_cart_form {
  margin: 10px 0 0 20px;
}

//Films Index

.film1_index_layout {
  height: 250px;
  margin: 0 5px 10px -5px;
  text-align: center;
}

.film2_index_layout {
  float: right;
  height: 250px;
  margin: 0 -5px 10px 5px;
  text-align: center;
}

//members_index

.member_index_layout {
  height: 200px;
  padding: 0 5px 0px 5px;
  text-align: center;
  h4 {
    margin: 10px 0 0 0;
  }
  h5 {
    margin: 2px 0 2px 0;
  }
  h6{
    margin: 5px 0 5px 0;
  }
  p {
    margin: 0 0 0 0;
  }
}

//membership_form

.membership_description {
  background-color: white;
  margin: 0 0 10px 0
}

.membership_explained {
  color: #f0f0ef;
  font-size: 13pt;
}

.member_form_header {
  margin: 0 0 10px 0;
  text-align: center;
  p {
    text-align: left;
  }
}

//membership_status_redirect

.membership_status_form {
  text-align: center;
}

//new_membership (Stripe Payment)

.stripe_centered {
  float: none;
  text-align: center !important;
}

.stripe_container {
  margin: 40px 0 0 0;
}

.stripe_for_membership {
  text-align: center;
}

//Speakers Index

.checkout {
  text-align: right;
}

.speaking_events_layout {
background: linear-gradient(rgba(248, 248, 247, 1), rgba(248, 248, 247, 1), 
  rgba(248, 248, 247, 1), rgba(248, 248, 247, 1.0),rgba(248, 248, 247, 1.0), rgba(248, 248, 247, 1.0), rgba(248, 248, 247, 1.0), rgba(248, 248, 247, 1.0),  rgba(0, 205, 255, 0.5), rgba(0, 205, 255, 1));  
  border-radius: 12px;
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
  padding: 20px;
  h3 {
    text-align: center;
  }
  tbody tr {
    max-height: 100px;
    border-bottom: 1px solid black;
  }
  th {
    text-align: center
  }
  thead {
    border-bottom: 1px solid black;
  }
  td {
    min-width: 80px;
    max-height: 100px;
    padding: 2px;
    text-align: center;
  }
  td:last-child {
    border-right: none;
  }
}

 .total {
  min-width: 200px !important;
}

//speakers

.bio {
  height: 500px;
  margin: 0 10px 0 -10px;
}

.speaker_events {
  height: 500px;
  clear: right;
}

.speaker_index_layout {
  height: 280px;
  margin: 0 0 10px 0;
}
